<nav class="nav nav-pills">
  <a class="nav-item nav-link text-uppercase" routerLink="/graphics" routerLinkActive="active"
     [routerLinkActiveOptions]="{exact: true}">graphics</a>
  <a class="nav-item nav-link text-uppercase" routerLink="/table" routerLinkActive="active"
     [routerLinkActiveOptions]="{exact: true}">table</a>
  <a class="nav-item nav-link text-uppercase" routerLink="/images" routerLinkActive="active"
     [routerLinkActiveOptions]="{exact: true}">images</a>
  <a class="nav-item nav-link text-uppercase" routerLink="/posts" routerLinkActive="active"
     [routerLinkActiveOptions]="{exact: true}">post tiles</a>
</nav>
